version: '3.8'
services:
  nginx-with-cache-purge:
    build:
      context: ./my-nginx/
      args:
        ENABLED_MODULES: "cachepurge"
    image: my-nginx-with-cachepurge:v1
    ports:
      - "80:80"
    volumes:
      - ./html:/usr/share/nginx/html/
      - ./nginx.conf:/etc/nginx/nginx.conf
      - nginx_cache:/var/cache/nginx
    restart: always

#  nginx:
#    image: nginx:latest
#    ports:
#      - "80:80"
#    volumes:
#      - ./html:/usr/share/nginx/html/
#      - ./nginx.conf:/etc/nginx/nginx.conf
#      - nginx_cache:/var/cache/nginx
#    restart: always

  cask-webserver-app:
    image: cask-webserver-app:latest
    ports:
      - "8081:8081"

volumes:
  nginx_cache: